*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Sora, sans-serif;
    background-color: #FAFAF9;
    display: grid;
    min-height: 100vh;
    place-items: center;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
}

.star-hero {
    background-color: gold;
    width: 2.5em;
    height: 2.5em;
    display: grid;
    place-content: center;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
}

h1 {
    font-size: 2.25rem;
}

h1 + p {
    font-size: 1.25rem;
}

ul {
    padding: 0;
}


li {
    background: url(./assets/Done_ring_round_fill.svg) no-repeat left top;
    padding: 3px 2px 22px 31px;
    list-style: none;
    margin: 0;
    font-size: 0.875rem;
}

main {
    display: flex;
    justify-content: space-between;
    margin-inline: 4.5rem;
    gap: 2em;
}

.left {
    max-width: 50%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4em;
}

.card {
    background-color: #fff;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 3px 3px 40px -2px rgba(0, 0, 0, 0.18);
    max-width: 25rem;
}

.card-2 {
    margin-left: -100%;
}

.card-top {
    display: flex;
    align-items: center;
    gap: 2em;
}

.card img {
    max-width: 5em;
}